#name {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 48px;
	font-weight: 400;
	margin: 0px;
}
.linklist {
	padding: 5px;
	margin: 0px;
}
.linklist li {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	display: inline;
}
.linklist li:not(:last-child):after {
	content: ' /';
}
main {
	width: 500px;
	padding: 10px 10px;
	margin: auto;
	border: 3px solid #333333;
	text-align: center;
}
